* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  background-color: #ccc;
  padding: 3.6rem;
}

nav {
  text-align: center;
  grid-column: span 2;
}

.root {
  margin: 0 auto;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4.8rem;
}

nav button {
  background-color: rgb(58, 100, 100);
  padding: 1rem 3.8rem;
  border: none;
  margin: 2rem 4.8rem;
  border-radius: 5px;
  color: rgb(188, 247, 247);
  /* font-weight: 500; */
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

nav button:hover {
  background-color: rgb(74, 126, 126);
  color: rgb(196, 248, 248);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

nav button:active {
  box-shadow: none;
  background-color: rgb(43, 73, 73);
}

.work-section {
  grid-row: span 2;
}

.gen-info-box,
.gen-info-form {
  background-color: #fff;
  font-size: 1.6rem;
  /* box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05); */
  padding: 1.8rem;
  margin-bottom: 3.2rem;
}

.gen-info-box p,
.gen-info-form input {
  margin-bottom: 1.8rem;
}

h2 {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
}

.delete-btn {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 115, 115);
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-weight: 900;
}

.delete-btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: rgb(250, 144, 144);
}

.delete-btn:active {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  background-color: rgb(177, 67, 67);
}
